{% extends 'index.html' %}
{% block title %}Pod{% endblock %}
{% block item-2 %}layui-nav-itemed{% endblock %}
{% block item-2-3 %}layui-this{% endblock %}
{% block  context %}
    <span class="layui-breadcrumb"> {# 面板屑----功能模块/node #}
        <a href="{% url 'home' %}">首页</a>
        <a href="#">工作负载</a>
        <a><cite>Pod</cite></a>
    </span>
    <hr>
	 <div class="layui-card">
        {% csrf_token %}
        <div class="layui-card-body">
            <div class="layui-row">
                <div class="layui-col-md12">
                    <input type="text" name="name" lay-verify="title" placeholder="请输入名称" class="layui-input" style="width: 150px;float: left">
                    <button class="layui-btn" id="searchBtn" style="float: left">搜索</button>
                </div>

                <div class="layui-col-md12" style="margin-top: 10px">
                    <table id="demo" lay-filter="test"></table>
                    <!--  行工具 -->
                    <script type="text/html" id="barDemo">
                      <a class="layui-btn layui-btn-xs" lay-event="yaml">YAML</a>
                      <a class="layui-btn layui-btn-xs" lay-event="logs">查看日志</a>
                      <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="terminal" style="color: #FFF;background-color: #385985">终端</a>
                      <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                    </script>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        //获取当前命名空间
        var storage = window.sessionStorage;
        var namespace = storage.getItem('namespace');   //从session获取namespace的值layui.use('table',function (){


        layui.use('table', function(){
        var table = layui.table;
        var $ = layui.jquery

        table.render({
            elem: '#demo'
            ,url:'{% url 'pod_api' %}?namespace=' + namespace
            ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            ,defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
            title: '刷新'
            ,layEvent: 'LAYTABLE_TIPS'
            ,icon: 'layui-icon-refresh'
            ,onClick: function(obj) {
                location.reload()
            }
        }]
        ,cols: [[
            {field: 'name', title: '名称', sort: true}
            ,{field: 'namespace', title: '命名空间',sort: true}
            ,{field: 'pod_ip', title: 'IP地址'}
            ,{field: 'labels', title: '标签', templet: labelsFormat}
            ,{field: 'containers', title: '容器组', templet: containersFormat}
            ,{field: 'status', title: '状态',sort: true, templet: statusFormat}
            ,{field: 'create_time', title: '创建时间'}
            ,{fixed: 'right', title:'操作', toolbar: '#barDemo',width: 250}
        ]]
        ,page: true
        ,id: 'TT'
        });
        // 标签格式化，是一个对象
        function labelsFormat(d){
            result = "";
            for (let key in d.labels) {
                result += '<span style="border: 1px ;border-radius: 8px">' + key + ':' + d.labels[key] + '</span><br>'
            }
                return result
            }
        function selectorFormat(d){
            result = "";
            for(let key in d.selector) {
                result += '<span style="border: 1px ;border-radius: 8px">' + key + ':' + d.selector[key] + '</span><br>'
            }
            return result
        }
        function containersFormat(d) {
	        result = "";
            if (d.containers) {
            for(let key in d.containers) {
                data = d.containers[key];
                result +=   data.c_name  + '=' + data.c_image + '<br>' + '重启次数:' + data.restart_count  + '<br>' + '状态:' + data.c_status + '<br>'
            }
            return result
        } else {
            return "None"
        }
    }
        // 如果status为None，使用容器状态显示
        function statusFormat(d){
	        result = "";
            if(d.status == "None"){
            for(let key in d.containers) {
                result += d.containers[key].c_status + '<br>'
            }
            return result
        } else {
            return d.status
        }
    }
        //右侧按钮编辑
      table.on('tool(test)', function(obj){
      var data = obj.data;
      var csrf_token = $('[name="csrfmiddlewaretoken"]').val();
      if(obj.event === 'del'){
        layer.confirm('真的要删除这个pod吗？', function(index){
          $.ajax({
             type: "DELETE",
              url: "{% url 'pod_api' %}",
              data: data,
              headers: {'X-CSRFToken': csrf_token},  // 放到请求头，django也会验证这字段
              success: function (result) {
                  if (result.code == '0') {
                      obj.del();  // 临时删除当前页面记录
                      layer.msg(result.msg, {icon: 6})
                  } else {
                      layer.msg(result.msg, {icon: 5})
                  }
              },
              error: function () {
                  layer.msg("服务器接口异常！", {icon: 5})
              }
          });

          layer.close(index);
        });
      } else if(obj.event === 'yaml'){
            layer.open({
                title: 'YAML',
                type: 2,  //内嵌层，从另一个网址加载
                area: ['50%','60%'],
                content: '{% url 'ace_editor' %}?resource=pod&' + 'namespace=' + data['namespace'] + '&name=' + data['name']//将值传给后端
            })
      } else if(obj.event === 'details'){
            window.location.href='{% url 'deployment_details' %}?namespace=' + data['namespace']
      } else if(obj.event === 'terminal'){
        // 逗号拼接容器名, 例如containers=c1,c2
        cs = data['containers'];
        containers = "";
        for(let c in cs) {
            if (c < cs.length-1) {
                containers += cs[c]['c_name'] + ","
            } else {
                containers += cs[c]['c_name']
            }
        }
        layer.open({
            title: "容器终端",
            type: 2,  // 加载层，从另一个网址引用
            area : [ '50%', '60%' ],
            content: '{% url "terminal" %}?namespace=' + data["namespace"] + "&pod_name=" + data["name"] + "&containers=" + containers,
        });
      } else if(obj.event === 'logs'){
            cs = data['containers'];
            containers = "";
            for(let c in cs) {
                if (c < cs.length-1) {
                    containers += cs[c]['c_name'] + ","
                } else {
                    containers += cs[c]['c_name']
                }
            }
        layer.open({
            title: "容器日志",
            type: 2,
            area : [ '60%', '70%' ],
            content: '{% url 'logs' %}?namespace=' + data.namespace + '&pod_name=' + data.name + '&containers=' + containers
        });
      }
    });
    // 监听搜索事件
    $(document).on('click','#searchBtn', function () {
        var input_val = $('.layui-input').val();
       // var input_val = $("input[name='name']").val();
        table.reload('TT', {
            where: {   //设定异步数据接口的额外参数，任意设置
                search_key: input_val
            },
            page: {
                curr: 1  //重新从第 1 页开始
            }
        })
    })
});
    </script>
{% endblock %}